html
  font-family: 'Roboto', sans-serif
  font-size: 10px

*
  outline: none
  box-sizing: border-box

a
  text-decoration: none

h1, h2, h3, h4, h5, h6, p, ul, li
  display: inline-block
  margin: 0
  padding: 0

.container

.row
